.content-markdown-clinic {
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    height: 500px;

}

.block-content-clinic {
    padding   : 40px 100px;
    margin   :0 200px;
    background-color: #c9c994;
    color:rgb(0, 0, 0);
}


.container-detail-clinic {
    position  : relative;
    background: #eee;
    padding   : 40px 200px;

    .block-content-detail {
        display      : flex;
        border-radius: 8px;
        width        : 1200px;
        align-items  : center;
        background   : #fff;
        margin-bottom: 20px;
        padding      : 10px;
        box-shadow   : 1px 1px 1px 1px #ccc;



        .content-right {
            border-right: solid 1px #ccc;
            width       : 50%;

        }

        .content-left {
            width      : 50%;
            margin-left: 40px;


            .doctor-extraInfor {
                margin-top: 20px;

                .more-detail-doctor {
                    margin: 0;
                }
            }

        }
    }

}