@import url(https://fonts.googleapis.com/css?family=Raleway);

// * {
//     margin    : 0;
//     padding   : 0;
//     transition: all .2s;
// }



#header-container {
    height       : 40px;
    border-radius: 8px;

}

/* Select style here */

select {

    font-size   : 18px;
    width       : 230px;
    cursor      : pointer;
    padding-left: 15px;
    padding-top : 3px;
    transition      : 1s;

}

select:hover {
    background-color: transparent;
    color           : red;
    padding-left    : 30px;

}

select option {
    background-color: white;
    color           : gray;
    width           : 310px;
    padding         : 10px 15px;
    height          : 20px;
    cursor          : pointer;
}

select option:hover {
    padding-left: 25px;
    width       : 270px;
    color       : #EC6F66;
}