.login-background {
    height:100vh;
    background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);

    .login-container {
        width: 400px;
        height: 500px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right:0;
        margin:auto;
        border-radius: 10px;
        background-color:white;


        .login-content {
            padding:20px;

            .text-login {
                text-align: center;
                font-weight: 600;
                font-size:24px;
                padding-top:10px;

            }

            .login-input {
                margin: 10px 0;


                .custom-input-password {
                    position: relative;

                    i {
                        position: absolute;
                        right:10px;
                        top:10px;
                        cursor:pointer;
                    }

                }
            }

            .btn-login {
                width:100%;
                margin:25px 0;
                height:40px;
                border-radius: 25px;
                outline:none;
                border: none;
                background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
                color: white;
            }

            .fogot-password {
                font-size:12px;
                margin-top:10px;
                
            }

            .text-other-login {
                font-size:20px;
                margin-top:20px;

            }

            .social-login {
                font-size:30px;
                margin:30px auto 0 auto;
                display: flex;
                justify-content:center;

                .facebook {
                    background-color: #0E8DF1;
                    margin-right: 28px;

                }

                .google {
                    background: #EA4335;
                }

            }

            .social-login .google, .facebook {
                color:#fff;
                height:50px;
                width: 50px;
                align-items: center;
                display: flex;
                justify-content:center;
                border-radius:50%;
            }


        }

    }
}



