.home-header-container {
    height: 80px;
    position: fixed;
    background-color: #fff;
    z-index: 1000;
    width: 100%;
    padding: 0 20px;

    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex;

        .left-content {
            width: 25%;
            display: flex;
            gap: 20px;
            justify-content: center;
            align-items: center;

            i {
                font-size: 25px;
                color: grey;
                cursor: pointer;
            }

            .header-logo {
                background: url("../../assets/logo.svg") center center no-repeat;
                height: 70%;
                width: 50%;
                cursor: pointer;
            }
        }

        .center-content {
            width: 50%;
            display: flex;

            align-items: center;
            justify-content: space-evenly;

            .child-content {
                b {
                    font-size: 18px;
                }

                .subs-title {
                    font-weight: 500;
                    font-size: 12px;
                }
            }
        }

        .right-content {
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: center;

            .support {
                margin-right: 40px;

                i {
                    margin-right: 5px;
                }
            }

            .language-vi {
                margin-right: 10px;
                cursor: pointer;
            }

            .active-vi {
                font-size: 25px;
                color: red;
            }

            .language-en {
                cursor: pointer;
            }

            .active-en {
                font-size: 25px;
                color: rgb(109, 8, 224);
            }
        }
    }
}

.bonus {
    height: 80px;
}
